<div class="top-bar">
    <div class="logo">
        <p class="logo-title">Rapture</p>
        <p class="logo-subtitle">Plus</p>
    </div>

    <div class="mid-bar">
        <p class="mid-bar-item">Home</p>
        <p class="mid-bar-item">Favorites</p>
        <p class="mid-bar-item">History</p>
    </div>

    <div class="right-bar">
        <mat-icon class="right-bar-icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="search"></mat-icon>
        <mat-icon class="tight-bar-icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="person"></mat-icon>
    </div>
</div>

<div class="wrapper">
    <div class="header">
        <img class="image" src="../assets/show-images/mikado.jpg" />
        <h1 class="title">The Mikado</h1>
        <h2 class="subtitle">Version Selection</h2>
        <h3 class="instructions">Please select the version of The Mikado you would like to view:</h3>
    </div>

    <div class="selections">
        
    </div>
</div>