<div mat-dialog-title>
    <h2 class="rapture-dialog-title">Perfect choice!</h2>
</div>
<mat-dialog-content>
    <div class="rapture-dialog-body">A delightful hodgepodge of accents ranging from Minnesota’s Iron Range to London’s
        Hyde Park to the Highlands of Scotland. A wee something for everyone, don’tcha know! </div>
</mat-dialog-content>
<mat-dialog-actions class="rapture-dialog-footer">
    <div class="rapture-dialog-footer-button clickable-element" mat-dialog-close>Close</div>
</mat-dialog-actions>