:host {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.app-icon-row {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;

    &-highlight {
        background-color: rgba(white, 0.2);
    }
}