<div class="app-icon-row app-icon-row-highlight">
    <app-icon></app-icon>
    <app-icon></app-icon>
    <app-icon></app-icon>
    <app-icon></app-icon>
    <app-icon></app-icon>
</div>

<div class="app-icon-row">
    <app-icon></app-icon>
    <app-icon></app-icon>
    <app-icon></app-icon>
    <app-icon></app-icon>
    <app-icon></app-icon>
</div>

<div class="app-icon-row">
    <app-icon [operational]="true"></app-icon>
    <app-icon></app-icon>
    <app-icon></app-icon>
    <app-icon></app-icon>
    <app-icon></app-icon>
</div>