<div class="app-icon-row app-icon-row-highlight">
    <app-icon backgroundImageUrl="../../assets/logos/appletv_logo.jpg"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/movies_logo.png"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/tvshows_logo.png"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/applearcade_logo.png"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/applefitness_logo.png"></app-icon>
</div>

<div class="app-icon-row">
    <app-icon backgroundImageUrl="../../assets/logos/netflix_logo.jpg" backgroundColor="#101010"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/hulu_logo.svg" backgroundColor="#151515"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/disneyplus_logo.jpeg" backgroundColor="#101010"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/applepodcasts_logo.jpg" backgroundColor="#101010"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/hbomax_logo.webp" backgroundColor="#101010"></app-icon>
</div>

<div class="app-icon-row">
    <app-icon [operational]=true backgroundImageUrl="../../assets/logos/rapture_logo.png" backgroundColor="#101010"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/spotify_logo.png" backgroundColor="#101010"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/paramount_logo.png" backgroundColor="#2368F6"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/peacock_logo.avif" backgroundColor="#101010"></app-icon>
    <app-icon backgroundImageUrl="../../assets/logos/espn_logo.webp" backgroundColor="#DD0000"></app-icon>
</div>