<div class="top-bar">
    <div class="logo">
        <p class="logo-title">Rapture</p>
        <p class="logo-subtitle">Plus</p>
    </div>

    <div class="mid-bar">
        <p class="mid-bar-item">Home</p>
        <p class="mid-bar-item">Favorites</p>
        <p class="mid-bar-item">History</p>
    </div>

    <div class="right-bar">
        <mat-icon class="right-bar-icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="search"></mat-icon>
        <mat-icon class="tight-bar-icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="person"></mat-icon>
    </div>
</div>
<div class="wrapper">
    <div class="splash">
        <h1 class="splash-title">Rapture</h1>
        <h5 class="splash-subtitle">Plus</h5>
    </div>

    <div class="reminder">
        <h1 class="reminder-content">Since you enjoyed <i>The McAdo</i>, we suggest <i>Patience</i> in March 2025.
            Rapture Plus would
            like to set a reminder</h1>
        <div class="reminder-yes clickable-element" (click)="confirm()">Yes, please remind me</div>
        <h3 class="reminder-no">No, thank you</h3>
    </div>
</div>