<div mat-dialog-title>
    <h2 class="rapture-dialog-title">Whoa, whoa, whoa...</h2>
</div>
<mat-dialog-content>
    <div class="rapture-dialog-body">Scottish is a bold choice! We really didn't think anyone would pick this option.
        Please select a more reasonable accent.</div>
    <div class="wizard-select-group attestation">
        <mat-checkbox class="wizard-select-group-checkbox">I acknowledge the risks inherent with this accent
            choice.</mat-checkbox>
    </div>

</mat-dialog-content>
<mat-dialog-actions class="rapture-dialog-footer">
    <div class="rapture-dialog-footer-button clickable-element" mat-dialog-close>Continue</div>
</mat-dialog-actions>