@import '../../assets/colors.scss';

@font-face {
    font-family: victorianFont;
    src: url('../../assets/VictorianDecade.otf');
}

:host {
    height: 120px;
    width: 180px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: white;
    transform: scale(1);
    transition: all 300ms ease-out;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 100ms ease-in;
        -webkit-box-shadow: 2px 8px 24px 6px rgba(255, 255, 255, 0.2);
        -moz-box-shadow: 2px 8px 24px 6px rgba(255, 255, 255, 0.2);
        box-shadow: 2px 8px 24px 6px rgba(255, 255, 255, 0.2);
    }
}

.icon-background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rapture-icon {
    font-family: victorianFont;
    color: $rapture-blue;
    font-size: 42px;
    background: $rapture-yellow;
    background: radial-gradient(circle, rgba(211, 182, 122, 1) 0%, rgba(255, 255, 255, 1) 100%);
    height: calc(100% - 24px);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    &-title {
        margin: 10px 0 0 0;
        font-size: 42px;
    }

    &-subtitle {
        color: $rapture-red;
        margin: 0;
    }
}