@import '../../assets/colors.scss';

.container {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    border-bottom: 1px solid $rapture-blue;

    &:hover {
        background-color: rgba(white, 0.5);
    }

    .image {
        min-width: 220px;
    }

    .cover-art {
        max-height: 160px;
    }

    .details {
        margin-left: 24px;

        .title {
            font-size: 48px;
            margin-top: 0;
        }

        .description {
            font-size: 36px;
            margin-bottom: 0;
            font-weight: normal;
        }
    }

    .warning {
        color: $rapture-red;
        font-size: 36px;

        &>* {
            font-weight: normal;
        }
    }

    .critics-pick {
        font-style: italic;
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 0;
    }

    .play-button {
        margin-left: auto;
        width: 120px;
        min-width: 120px;
        display: flex;
        justify-content: center;

        mat-icon {
            height: 60px;
            width: 60px;
            font-size: 60px;
            align-self: center;
            cursor: pointer;
        }
    }
}