@import '../../assets/colors.scss';

@font-face {
    font-family: victorianFont;
    src: url('../../assets/VictorianDecade.otf');
}

:host {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
    color: $rapture-blue;
    background: $rapture-yellow;
    background: radial-gradient(circle, rgba(211, 182, 122, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.top-bar {
    height: 60px;
    background-color: white;
    border-bottom: 2px solid $rapture-blue;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .logo {
        width: 62px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        padding-top: 10px;

        &-title {
            font-family: victorianFont;
            margin: 0;
            font-size: 24px;
        }

        &-subtitle {
            font-family: victorianFont;
            color: $rapture-red;
            margin: 0;
            font-size: 16px;
        }
    }

    .mid-bar {
        display: flex;
        align-items: center;

        &-item {
            margin: 0 40px;
            font-size: 18px;
        }
    }

    .right-bar {
        width: 62px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-icon {
            font-size: 36px;
        }
    }
}

.wrapper {
    margin: 0 auto;
    height: calc(100vh - 110px);
    padding: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .header {
        display: block;
        margin-bottom: 24px;
        height: 180px;

        .image {
            height: 160px;
            float: left;
            margin-right: 24px;

        }

        .title {
            font-size: 64px;
            margin-bottom: 12px;
        }

        .subtitle {
            font-size: 24px;
            margin: 12px 0;
        }
    }

    .config-wrapper {
        flex-grow: 1;

        .wizard {
            height: 100%;
            background: none;

            &-content-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 12px;

                &-body {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                }

                &-footer {
                    align-self: flex-end;
                }
            }

            &-button {
                padding: 8px 24px;
                margin-left: 24px;
                background-color: $rapture-blue;
                color: white;
                display: inline-block;
                cursor: pointer;
                font-size: 24px;
            }

            &-select-group {
                display: flex;
                flex-direction: column;
                font-size: 20px;

                &-checkbox {
                    margin: 0 0 8px 8px;
                }
            }
        }
    }
}

.anachronism {
    &-label {
        font-size: 80px;
        margin: 80px auto;
    }

    &-slider {
        margin: 0 24px;
    }
}

.video-control {
    height: 100%;
    display: flex;

    &-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-icon {
        margin: 0 auto;
        transform: scale(5);
        cursor: pointer;

        &-play {
            transform: scale(8);
        }
    }
}

::ng-deep {

    .mat-horizontal-stepper-wrapper,
    .mat-horizontal-stepper-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .mat-horizontal-content-container {
        flex-grow: 1;
    }

    .mat-ripple.mat-mdc-focus-indicator {
        display: none;
    }

    .mat-step-text-label {
        font-size: 24px;
    }
}