@import '../../assets/colors.scss';

@font-face {
    font-family: victorianFont;
    src: url('../../assets/VictorianDecade.otf');
}

:host {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
    color: $rapture-blue;
    background: $rapture-yellow;
    background: radial-gradient(circle, rgba(211, 182, 122, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.top-bar {
    height: 60px;
    background-color: white;
    border-bottom: 2px solid $rapture-blue;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .logo {
        width: 62px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        padding-top: 10px;

        &-title {
            font-family: victorianFont;
            margin: 0;
            font-size: 24px;
        }

        &-subtitle {
            font-family: victorianFont;
            color: $rapture-red;
            margin: 0;
            font-size: 16px;
        }
    }

    .mid-bar {
        display: flex;
        align-items: center;

        &-item {
            margin: 0 40px;
            font-size: 18px;
        }
    }

    .right-bar {
        width: 62px;
        height: 100%;
        display: flex;
        justify-items: flex-end;
        justify-content: space-between;

        &-icon {
            font-size: 36px;
        }
    }
}

.wrapper {
    margin: 0 auto;
    height: calc(100vh - 110px);
    padding: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .header {
        display: block;
        margin-bottom: 24px;
        height: 180px;

        .image {
            height: 160px;
            float: left;
            margin-right: 24px;

        }

        .title {
            font-size: 64px;
            margin-bottom: 12px;
        }

        .subtitle {
            font-size: 24px;
            margin: 12px 0;
        }
    }

    .config-wrapper {
        flex-grow: 1;

        .wizard {
            height: 100%;
            background: none;

            &-content-container {
                height: 100%;
                display: flex;
                flex-direction: column;

                &-body {
                    flex-grow: 1;
                }

                &-footer {
                    align-self: flex-end;
                }
            }

            &-button {
                padding: 4px 12px;
                margin-left: 12px;
                background-color: $rapture-blue;
                color: white;
                display: inline-block;
                cursor: pointer;
            }
        }
    }
}

::ng-deep.mat-horizontal-stepper-wrapper,
::ng-deep.mat-horizontal-stepper-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep.mat-horizontal-content-container {
    flex-grow: 1;
}