<div class="top-bar">
    <div class="logo">
        <p class="logo-title">Rapture</p>
        <p class="logo-subtitle">Plus</p>
    </div>

    <div class="mid-bar">
        <p class="mid-bar-item">Home</p>
        <p class="mid-bar-item">Favorites</p>
        <p class="mid-bar-item">History</p>
    </div>

    <div class="right-bar">
        <mat-icon class="right-bar-icon" fontIcon="search" (click)="intermission()"></mat-icon>
        <mat-icon class="tight-bar-icon" fontIcon="person" (click)="navSuggestions()"></mat-icon>
    </div>
</div>

<div class="wrapper">
    <div class="header">
        <img class="image" src="../assets/mikado-versions/mcado.png" />
        <h1 class="title"><i>The McAdo</i> Settings</h1>
        <h3 class="subtitle">In order to optimize your experience, please choose from the following settings:</h3>
    </div>

    <div class="config-wrapper">
        <mat-stepper class="wizard" linear #stepper>
            <mat-step label="Languages & Accents" isEditable="false">
                <ng-template matStepLabel>Languages & Accents</ng-template>
                <div class="wizard-content-container">
                    <div class="wizard-content-container-body">
                        <h2 class="wizard-content-container-body-header">Languages & Accents</h2>
                        <mat-radio-group (change)="scottishWarning()" class="wizard-select-group"
                            aria-label="Select an option" #accentsGroup>
                            <mat-radio-button value="1" checked>Midwestern English</mat-radio-button>
                            <mat-radio-button value="2">Mid-Atlantic English with a wee Scottish Lilt
                                (Recommended)</mat-radio-button>
                            <mat-radio-button value="3">Scottish Brogue</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="wizard-content-container-footer">
                        <div class="wizard-button" (click)="navBack(stepper)">Back</div>
                        <div class="wizard-button" (click)="navNext(stepper)">Next</div>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Audio" isEditable="false">
                <ng-template matStepLabel>Audio</ng-template>
                <div class="wizard-content-container">
                    <div class="wizard-content-container-body">
                        <h2 class="wizard-content-container-body-header">Audio</h2>
                        <mat-radio-group class="wizard-select-group" aria-label="Select an option">
                            <mat-radio-button value="1" checked>Mono</mat-radio-button>
                            <mat-radio-button value="2">Stereo</mat-radio-button>
                            <mat-radio-button value="3">Dolby 2.0 with <i>Atmos</i></mat-radio-button>
                            <mat-radio-button value="4"><b>BuikemAudio®</b> …as if a 30-person orchestra and full chorus
                                were mere feet away
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="wizard-content-container-footer">
                        <div class="wizard-button" (click)="navBack(stepper)">Back</div>
                        <div class="wizard-button" (click)="navNext(stepper)">Next</div>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Anachronisms" isEditable="false">
                <ng-template matStepLabel>Anachronisms</ng-template>
                <div class="wizard-content-container">
                    <div class="wizard-content-container-body">
                        <h2 class="wizard-content-container-body-header">Anachronisms</h2>
                        <h3 class="wizard-content-container-body-subheader">Lines, lyrics and objects that belong to a
                            different time period than 19th Century Scotland
                        </h3>
                        <h1 class="anachronism-label">{{anachronismLabel}}</h1>
                        <div class="anachronism-slider-container">
                            <h3 class="anachronism-slider-label">Least</h3>
                            <mat-slider class="anachronism-slider" min="0" max="4" step="1" showTickMarks disableRipple>
                                <input (input)="updateAnachronismLabel($event)" matSliderThumb disableRipple>
                            </mat-slider>
                            <h3 class="anachronism-slider-label">Most</h3>
                        </div>
                    </div>
                    <div class="wizard-content-container-footer">
                        <div class="wizard-button" (click)="navBack(stepper)">Back</div>
                        <div class="wizard-button" (click)="navNext(stepper)">Next</div>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Video" isEditable="false">
                <ng-template matStepLabel>Video</ng-template>
                <div class="wizard-content-container">
                    <div class="wizard-content-container-body">
                        <h2 class="wizard-content-container-body-header">Video Settings</h2>
                        <mat-radio-group class="wizard-select-group" aria-label="Select an option">
                            <mat-radio-button value="1" checked>1973 Sony Trinitron</mat-radio-button>
                            <mat-radio-button value="2">1995 Sony Bravia</mat-radio-button>
                            <mat-radio-button value="3">2022 Sony Bravia OLED</mat-radio-button>
                            <mat-radio-button value="4">2024 <b>G&S Virtual Reality®</b></mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="wizard-content-container-footer">
                        <div class="wizard-button" (click)="navBack(stepper)">Back</div>
                        <div class="wizard-button" (click)="navNext(stepper)">Next</div>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Confirmation" isEditable="false">
                <ng-template matStepLabel>Confirmation</ng-template>
                <div class="wizard-content-container">
                    <div class="wizard-content-container-body">
                        <p class="confirmation-text">Congratulations on choosing <b>G&S VirtualReality®</b>, the most
                            advanced platform to stream
                            your
                            favorite Gilbert & Sullivan operettas! It functions best with full state of the art
                            audio/visual
                            equipment. But all that is truly required is a joyful outlook, an appreciation of the
                            absurd,
                            and an empty bladder. We hope you have brought all of these with you.</p>

                        <h3>Please attest to the following before beginning your viewing experience:</h3>
                        <div class="wizard-select-group">
                            <mat-checkbox class="wizard-select-group-checkbox">Unwrap Lozenges Now</mat-checkbox>
                            <mat-checkbox class="wizard-select-group-checkbox">No Texting</mat-checkbox>
                            <mat-checkbox class="wizard-select-group-checkbox">No Photography</mat-checkbox>
                            <mat-checkbox class="wizard-select-group-checkbox">Phones Off</mat-checkbox>
                        </div>

                        <p class="confirmation-text">G&S VirtualReality® is built to respond best to applause and
                            laughter. Please let this inform your viewing experience. </p>
                    </div>
                    <div class="wizard-content-container-footer">
                        <div class="wizard-button" (click)="navBack(stepper)">Back</div>
                        <div class="wizard-button" (click)="navNext(stepper)">Next</div>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Play" isEditable="false">
                <ng-template matStepLabel>Play</ng-template>
                <div class="wizard-content-container">
                    <div class="wizard-content-container-body">
                        <h2 class="wizard-content-container-body-header">Play</h2>
                        <div class="video-control">
                            <div class="video-control-container">
                                <mat-icon class="video-control-icon" fontIcon="replay_30"></mat-icon>
                            </div>
                            <div class="video-control-container" (click)="onPlayClick()">
                                <mat-icon class="video-control-icon video-control-icon-play"
                                    fontIcon="{{showPlay ? 'play_circle_outline' : 'pause_circle_outline'}}"></mat-icon>
                            </div>
                            <div class="video-control-container">
                                <mat-icon class="video-control-icon" fontIcon="forward_30"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-content-container-footer">
                        <div class="wizard-button" (click)="navBack(stepper)">Back</div>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>