@import '../../assets/colors.scss';

:host {
    flex: 1 0 21%;
    margin: 20px;
    border-radius: 12px;
    border: 2px solid $rapture-blue;
    background-color: rgba(white, 0.6);
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);

    .top-section {
        height: 70%;

        .cover-art {
            width: 100%;
            border-radius: 12px;
        }
    }

    .title {
        font-size: 24px;
        margin: 9px 0;
    }

    .footer {
        .play-button {
            cursor: pointer;
            background-color: $rapture-blue;
            color: white;
            width: calc(100% - 12px);
            border-radius: 12px;
            padding: 6px;
            display: flex;
            justify-content: center;
            margin: 9px 0 0 0;

            &-title {
                margin: 0 0 0 9px;
                font-size: 21px;

            }
        }
    }
}